@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@font-face {
    font-family: prox-semibold;
    font-weight: 400;
    src: url(./prox-semibold.ttf);
}

@font-face {
    font-family: prox-reg-italic;
    font-weight: 200;
    src: url(./prox-reg-italic.ttf);
}


@font-face {
    font-family: prox-reg;
    font-weight: 100;
    src: url(./prox-reg.ttf);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
    font-family: prox-reg;
}

$sidebar-width: 220px;

#sidebar {
    position: fixed;
	width: $sidebar-width;
    min-height: 100%;
    float: left;
    background-color: #4a8096;
    color: #EFEFEF;
    overflow-x: hidden;
    overflow-y: auto;
    /*box-shadow: inset -28px 0px 17px -20px rgba(0,0,0,0.2);*/
    
    @include transition(width, 0.3s, cubic-bezier(0.77, 0, 0.175, 1));

    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset -28px 0px 17px -20px rgba(0,0,0,0.2);
        z-index: 5;   
        pointer-events: none;
    }

    header {

        height: 42px;
        line-height: 42px;
        z-index: -1;
        font-family: "prox-semibold";
        text-transform: uppercase;
        letter-spacing: 3px;
        border-top-color: rgba(255,255,255,0.3);
        border-top-style: solid;
        border-top-width: 1px;
        font-size: 10px; 
        margin-top: 30px; 
        margin-bottom: 20px;
        cursor: default;
    }
    header:first-child {
        border-top-style: none;
        margin-top: 0px;
        margin-bottom: 10px;
        height: 40px;
        padding-left: 45%;
        background-color: #6db3c9; 
        background-image: url('./corner_header.svg');
        background-repeat: no-repeat;
        font-size: .7em;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    a:first-child {
        margin-top: 10px;
    }
    a {
        padding-left: 13%;
        text-decoration: none;
        display: block;
        height: 30px;
        line-height: 30px;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: background .2s ease-in-out, 
            all .2s;
        border-left-width: 0;
        border-left-style: solid;
    }
    a.selected{
        background: #6e99ab;
    }
    a:hover, a:focus {
        background-color: #6e99ab;
        border-color: #fff;
        border-left-width: 7px;
        border-left-style: solid;
    }
    a:focus{
        outline: none;
    }



    &>header, &>a{ width: $sidebar-width;}

}

#textscroll {
    @include transition(margin-left, 0.3s, ease-in-out);

    margin-left: $sidebar-width;
    width: auto;
    min-height: 100%;
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    position: relative;
    border: 0;
    border-left-width: 8px;
    border-left-color: #d2e7ee;
    border-left-style: solid;
    padding-bottom: 20%;
}
    #topic {
        height: 40px;
        line-height: 40px;
        width: 100%;
        background: #d2e7ee;
        color: #6db3c9;
        padding-left: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 12px;
}
        #usercount {
            float: right;
        }
    textarea {
        border: 0;
        border-top-width: 8px;
        border-top-color: #d2e7ee;
        border-top-style: solid;
        position: absolute;
        bottom: 0px;
        resize: none;
        width: 100%;
        padding: 15px;
        height: 5%;
        font-family: "prox-reg";
}


body.sidebarhidden{
    #sidebar{
        width: 0;
    }
    #textscroll{
        margin-left:0;
    }
}