@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@font-face {
    font-family: prox-semibold;
    font-weight: 400;
    src: url(./prox-semibold.ttf);
}

@font-face {
    font-family: prox-reg-italic;
    font-weight: 200;
    src: url(./prox-reg-italic.ttf);
}


@font-face {
    font-family: prox-reg;
    font-weight: 100;
    src: url(./prox-reg.ttf);
}

*, *:after, *:before {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
    font-family: prox-reg;
}

$sidebar-width: 220px;

#sidebar {
    position: fixed;
	width: $sidebar-width;
    min-height: 100%;
    float: left;
    background-color: #4a8096;
    color: #EFEFEF;
    overflow-x: hidden;
    overflow-y: auto;
    /*box-shadow: inset -28px 0px 17px -20px rgba(0,0,0,0.2);*/

    @include transition(width, 0.3s, cubic-bezier(0.77, 0, 0.175, 1));

    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset -28px 0px 17px -20px rgba(0,0,0,0.2);
        z-index: 5;
        pointer-events: none;
    }

    header {

        height: 42px;
        line-height: 42px;
        z-index: -1;
        font-family: "prox-semibold";
        text-transform: uppercase;
        letter-spacing: 3px;
        border-top-color: rgba(255,255,255,0.3);
        border-top-style: solid;
        border-top-width: 1px;
        font-size: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        cursor: default;
    }
    header:first-child {
        border-top-style: none;
        margin-top: 0px;
        margin-bottom: 10px;
        height: 40px;
        padding-left: 34%;
        background-color: #6db3c9;
        background-image: url('./corner_header.svg');
        background-repeat: no-repeat;
        font-size: .7em;
        text-transform: uppercase;
        letter-spacing: 3px;

        img{
            width: 30px;
            position:relative;
            top:1px;
            left:3px;
        }

    }

    header {
        img{
            width: 20px;
            margin-bottom: -5px;
            margin-top: 10px;
            margin-left: 25px;
            margin-right: 10px;
        }
    }

    a:first-child {
        margin-top: 10px;
    }
    a {
        position:relative;
        padding-left: 13%;
        text-decoration: none;
        display: block;
        height: 30px;
        line-height: 30px;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: background .2s ease-in-out,
            all .2s;
        border-left-width: 0;
        border-left-style: solid;
    }
    a.selected{
        background: #6e99ab;
    }
    a:hover, a:focus, &:not(.containsFocus) a.ticked {
        background-color: #6e99ab;
        border-color: #fff;
        border-left-width: 7px;
        border-left-style: solid;
    }
    a:focus{
        outline: none;
    }

    a[data-notif]:before{
        opacity:1;
        transform: scale(1,1);
    }

    a:before{        
        opacity:0;
        transform: scale(0,0);

        content: attr(data-notif);
        background-color:#64ddb4;
        display:block;
        font-family:prox-semibold;
        position:absolute;

        $dim: 20px;
        font-size: 10px;
        right:$dim;
        top:50%;
        margin-top: -($dim/2);
        
        height:$dim;
        min-width:$dim;
        width:auto;
        border-radius:($dim/2);

        text-align:center;
        line-height:$dim;

        padding-left:2px;
        padding-top:2px;

        @include transition(all, 0.3s, ease-in-out);
    }

    // the triangle
    $arrowlength: 8px;
    a:after{
        content:"";
        border:6px solid transparent;
        border-right: $arrowlength solid #d2e7ee;
        display:block;
        width:0;
        height:0;
        position:absolute;
        right:-$arrowlength;
        top:50%;
        margin-top:-6px;
        z-index: 6;

        @include transition(right, 0.2s, ease-in-out);
    }
    a.ticked:after{
        right:0;
    }

    &>header, &>a{ width: $sidebar-width;}

}

#rightbar {
    @include transition(margin-left, 0.3s, ease-in-out);

    margin-left: $sidebar-width;
    margin-right: 120px;
    width: auto;
    min-height: 100%;
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    position: relative;
    border: 0;
    border-left-width: 8px;
    border-left-color: #edf6f9;
    border-left-style: solid;
    padding-bottom: 20%;
}

#chatcontents {
    overflow-y: auto;
    position:absolute;
    left:0;
    right:0;
    top: 40px;
    bottom: 60px;

    background-color:transparent;
    background-image: url(./mountains-14.svg);
    background-position:left bottom;
    background-repeat:no-repeat;
    background-size: 100%;
    background-origin: content-box;
}

.post{
    margin: 20px;
    
    font-size:12px;

    img{
        float:left;
        margin-right :8px;
        width:32px;
        height:32px;
        border-radius:2px;
    }

    .name, .timestamp{
        margin-top:8px;
        margin-bottom:8px;
        display:inline;
        margin-right: 8px;
        font-family: "prox-semibold";
    }
    .body{
        display:block;
    }
}


.post.collapsed {
    margin:0px;
    margin-top:-20px;
    margin-bottom:20px;
    margin-left:20px;

    font-size:12px;

    img, .name, .timestamp{
        display:none;
    }
    .body{
        margin-left: 40px;
        display:block;
    }
}

#topic {
        font-family: "prox-semibold";
        text-overflow: ellipsis;
        display:block;

        position:absolute;
        top:0;
        height: 40px;
        line-height: 40px;
        width: 100%;
        background: #edf6f9;
        color: #6db3c9;
        padding-left: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 12px;
}
        #usercount {
            float: right;
        }

    textarea {
        position:absolute;
        bottom:0;
        outline: none !important;
        border: 0;
        border-top-width: 1px;
        border-top-color: #d2e7ee;
        border-top-style: solid;
        border-left-width: 50px;
        border-left-color: #edf6f9;
        border-left-style: solid;
        position: absolute;
        bottom: 0px;
        resize: none;
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10%;
        height: 60px;
        font-family: "prox-reg";

        overflow-y: auto;
}


#users {
    font-family: "prox-semibold";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #6db3c9;
    margin-right: auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
    cursor: default;
}
#users img {
    width: 10px;
    margin-left: 27px;
    margin-right: 10px;
}
#userbar {
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    letter-spacing: 2px;
    background-color: #fff;
    color: #6db3c9;
    margin-left: -10px;
    font-size: 12px;
    font-family: 'prox-reg';
    border-left-style: solid;
    border-left-color: #6db3c9;
    border-left-width: 1px;
}

body.sidebarhidden{
    #sidebar{
        width: 0;
    }
    #rightbar{
        margin-left:0;
    }
}